/*---------------------------------------
  Footer
----------------------------------------*/

.footer {
  background: $almostBlack;
  margin-top: 0;
  padding-top: 54px;

  h3 {
    padding: 0.65em;
    margin: 1.5em 0 0 0;
    @media screen and (min-width: 40em) {
      margin: 0 0 9px 0;
      padding: 0;
    }
  }

  li > a,
  address {
    color: $white;
    font-style: normal;
  }

  li {
    padding: 5px 0;
  }

  .social-icons {
    margin: 1.875em 0;
    @media screen and (min-width: 40em) {
      margin: 1.875em 0;
    }
    li {
      display: inline;
    }
    .social-icon {
      padding: 15px;
    }
  }

  .copyright {
    margin: 3.75em auto 1.25em 0;
    @media screen and (min-width: 64em) {
      margin: 1.25em auto;
      padding-top: 6.5em;
    }
    p {
      color: $gray;
      font-size: 9px;
      line-height: 20px;
      margin: 0;
      @media screen and (min-width: 40em) {
        display: inline;
      }
      a {
        color: $gray
      }
    }
  }


} // /.footer
