/*---------------------------------------
  Header
----------------------------------------*/

/*-- Overlay when menu is open --*/
.mobile-menu-overlay {
  &.is-active {
    @include overlay(fixed, 3, 0.65);
    transition: all 350ms ease-in;
  }
}

.main-header,
.sidebar {
  background: $white;
}

.hamburger,
.search,
.cancel {
  cursor: pointer;
}

.main-header {
  height: 107px;
  width: 100%;
  @include flexCenter;
  .logo {
    margin: 0 auto 0 30px;
  }


  .nav {
    @include flexCenter;
    margin-right: 30px;
    .link-desktop {
      display: none;
      @media screen and (min-width: 800px) {
        display: block;
      }
    }
    li {
      // display: inline;
      padding: 8px 15px;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 13px;
      letter-spacing: 1px;
      a {
        color: $almostBlack;
      }
    }
  }


  /*-- Sidebar --*/
  .sidebar {

    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 300px;
    overflow-y: auto;
    transform: translate3d(300px, 0, 0);
    transition: transform 350ms ease-out;

    &.active {
      transform: translate3d(0, 0, 0);
    }


    .section {
      ul {
        padding: 35px 10px 35px 60px;
        li {
          padding: 5px 0;
        }
      }
    }
    .section__top,
    .section__middle {
      border-bottom: 1px solid $lightGray;
    }
    .section__top {
      height: 76px;
      position: relative;
    }
    .search-icon,
    .cancel {
      display: inline-block;
      position: absolute;
    }
    .search-icon {
      right: 70px;
    }
    .cancel {
      right: 35px;
    }
    h3 {
      margin-bottom: 10px;
    }
    a {
      color: $almostBlack;
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 16px;
    }
  } // /.sidebar

  .mobile-menu-overlay {
    border: 10px solid purple;
  }

} // /.main-header




/**-----------------------------------
Search Bar Experiment
------------------------------------**/

.search-wrapper {
  border: 1px solid red;
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
}

.search-bar {
  border: 1px solid green;
  width: 0;
  height: 38px;
  background: #3e3e3e;
  transition: width 300ms ease-in-out;

  &.active {
    width: 400px;
  }

  input {
    border: 1px solid blue;
    background: transparent;
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: $paragraph;
    color: white;
    box-sizing: border-box;
    padding: 0 20px;
  }
}

.search-test {
  width: 50px;
  height: 50px;
  transition: background 200ms ease-in-out;

  @include flexCenter;

  &:hover {
    // background: #2793d1;
    cursor: pointer;
  }

  &.active {
    border: 1px solid orange;
    .search-icon {
      width: 25px;
      height: 25px;

      &:before,
      &:after {
        top: 5px;
        right: 11px;
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}
