/*---------------------------------------
  Homepage
----------------------------------------*/

.home {

  /*-- Hero --*/
  .hero {
    min-height: 400px;
    height: 400px;
    position: relative;
    h1 {
      @media screen and (min-width: 64em) {
        width: 837px;
        height: 96px;
      }
    }
    .btn {
      margin-top: 1.438em;
    }
  }

  /*-- Hero Video --*/
  .hero-video {
    @include flexCenter;
    flex-direction: column;
    overflow: hidden;
    .widescreen {
      width: 100%;
      position: absolute;
      z-index: -10;
    }
    &__overlay {
      @include overlay(absolute, -9, 0.65);
    }
  }

  /*-- Hero Image --*/
  .hero-image {
    @include backgroundImage(cover, center, fixed);
  }


  /*-- Icons --*/
  .icons {

    .icon {
      position: relative;
      border-right: 1px solid $lightGray;
      border-bottom: 1px solid $lightGray;

      &__content {
        padding: 1em;
        margin: 5px;
        transition: all 300ms ease;
        @media screen and (min-width: 64em) {
          height: 200px;
          padding: 2em;
        }
        @media screen and (min-width: 72em) {
          padding: 3em;
        }
        p {
          text-align: center;
          margin: 1em 0 0 0;
          color: $almostBlack;
          font-size: 15px;
          font-weight: 800;
          line-height: 19px;
          letter-spacing: 1px;
        }
      }

      &__graphic {
        svg {
          height: 65px; // set all heights to height of tallest icon
          display: block;
          margin: 0 auto;
          * {
            // fill: yellow;
          }
        }
      }

    } // /.icon

  } // /.icons


  /*-- Icons Hover Animations --*/
  .icons {
    .icon.hover {
      background-color: $lightGray;
      .icon__content {
        background-color: $blue;
      }
      svg * {
        fill: $white;
      }
      p {
        color: $white;
      }
    }
  }


  /*-- Block Grid --*/
  .news-and-stories {
    background-color: $lightGray;

    .headline {
      font-size: 30px;
      padding: 1.5em 0 1em 0;
      color: $almostBlack;
    }

    .block {
      background-color: $white;
      height: 420px;
      .icon {
        width: 98px;
        height: 79px;
      }
      .btn:hover {
        color: $white;
      }
    }

    .block.yellow {
      .icon { background-color: $yellow }
      .block-post__title { color: $yellow }
      .btn:hover {
        background: $yellow;
        border-color: $yellow;
      }
    }
    .block.blue {
      .icon { background-color: $blue }
      .block-post__title { color: $blue }
      .btn:hover {
        background: $blue;
        border-color: $blue;
      }
    }
    .block.red {
      .icon { background-color: $red }
      .block-post__title { color: $red }
      .btn:hover {
        background: $red;
        border-color: $red;
      }
    }

    .block-post {
      position: relative;
      .icon {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -49px; // half width of .icon
      }
      &__content {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% + 25.5px));
      }
      &__date {
        font-family: $headline;
        font-size: 16px;
        font-style: italic;
        line-height: 20px;
      }
      &__title {
        font-family: $paragraph;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 34px;
        text-transform: uppercase;
        margin: 13px 0 29px 0;
      }
      &__even:before,
      &__odd:before {
        @media screen and (min-width: 40em) {
          content: ' ';
          width: 0;
          height: 0;
          display: block;
          position: absolute;
          top: calc(50% - 18px);
          border-top: 18px solid transparent;
          border-bottom: 18px solid transparent;
          border-right:18px solid $white;
        }
      }
      &__even {
        @media screen and (min-width: 40em) {
          &:before {
            right: -18px;
            transform: rotate(180deg);
          }
        }
      }
      &__odd {
        @media screen and (min-width: 40em) {
          &:before {
            left: -18px;
            z-index: 2;
          }
        }
      }

    } // /.block-post

    .block-image {
      @include backgroundImage(cover, center, local);
    }

    .explore {
      padding: 40px 0;
      @media screen and (min-width: 64em) {
        padding: 47px 0 107px 0;
      }
      p {
        margin: 0;
        padding-bottom: 4px;
        border-bottom: 1px solid $darkGray;
        display: inline-block;
        font-size: 15px;
        line-height: 19px;
        a {
          color: $darkGray;
          text-align: center;
        }
      }
    }

  } // /.blocks

  /*-- Newsletter Sign-up --*/
  .newsletter-sign-up {
    background: $yellow;
    position: relative;
    height: 138px;
  }

  /*-- Quote --*/
  .quote {
    background-image: url('../images/homepage/beach.png');
    @include backgroundImage(contain, bottom, scroll);
    padding-bottom: 5em;
    @media screen and (min-width: 40em) {
      padding-bottom: 8em;
    }
    @media screen and (min-width: 64em) {
      padding-bottom: 13em;
    }
    .content {
      padding: 6em 0;
      position: relative;
      .quotation {
        position: absolute;
        width: 55px;
        &-left {
          display: none;
          @media screen and (min-width: 64em) {
            left: 113px;
            top: 63px;
            display: block;
          }
        }
        &-right {
          transform: translateX(calc(50% - 55px)) rotate(180deg);
          top: 30px;
          @media screen and (min-width: 64em) {
            top: 180px;
            right: 100px;
          }
        }
      }
      h2 {
        margin: 0 auto;
        @media screen and (min-width: 40em) {
          // h2 medium styles
        }
        @media screen and (min-width: 64em) {
          width: 737px;
          height: 102px;
        }
      }
      p {
        @media screen and (min-width: 40em) {
          // p medium styles
        }
        @media screen and (min-width: 64em) {
          margin-top: 30px;
        }
      }
    }
  }

} // /.home
