@font-face {
    font-family: 'merriweather-bold-italic';
    src: url('../../assets/fonts/Merriweather/Merriweather-BoldItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}

// @font-face {
//     font-family: 'selima';
//     src: url('../../assets/selima_-webfont-webfont.woff2') format('woff2'),
//          url('../../assets/selima_-webfont-webfont.woff') format('woff'),
//          url('../../assets/selima_-webfont-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
