/*---------------------------------------
  Main
----------------------------------------*/

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/*---------------------------------------
  Helpers
----------------------------------------*/

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.text-white { color: $offWhite }
.text-blue { color: $blue }


/*---------------------------------------
  Components
----------------------------------------*/

.btn {
  /*-- Global btn styles --*/
  transition: all 250ms ease;
  text-transform: uppercase;
  font-family: $paragraph;
  font-weight: 800;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 1px;
  border-width: 1px;
  border-style: solid;
  display: inline-block;

  // padding: 15px 30px;
  // width: 177px;
  // height: 43px;

  // Homepage .btn
  padding: 12px 37px;

  @media screen and (min-width: 40em) {
    font-size: 12px;
  }

  @media screen and (min-width: 64em) {
    font-size: 14px;
  }


  /*-- Ghost btn's --*/
  &-white {
    color: $white;
    border-color: $white;
  }
  &-dark {
    color: $almostBlack;
    border-color: $almostBlack;
  }
  &-red {
    color: $white;
    border-color: $red;
    background-color: $red;
    &:hover {
      color: $white;
      border-color: $white;
      background-color: transparent
    }
  }

  /*-- Newsletter btn's --*/
  &-newsletter {
    &--clear {
      background: none;
      &:hover {
        background: $white;
        color: $yellow;
      }
    }
    &--solid {
      background: $blue;
      border: 1px solid $blue;
      &:hover {
        background: transparent;
        border: 1px solid $white;
        color: $white;
      }
    }
    &::after {
      content: '→';
      padding-left: 0.75em;
    }
  }

} // /.btn





/*-- end of file ----------------------------*/
