/*---------------------------------------
  Variables
----------------------------------------*/

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/*-- Colors ----------------------------*/

$red: #EE2B28;
$black: #000000;
$gray: #B3B2B3;
$blue: #479AAE;
$yellow: #FCB535;

$offWhite: #FBFBFB;
$pureWhite: #FFFFFF;
$lightGray: #EEEEEE;
$darkGray: #222525;
$almostBlack: #2B292B;


/*-- Fonts ----------------------------*/

// 400, 400i, 700i, 900i
$headline: 'Merriweather', serif;

// 400, 700, 800
$paragraph: 'Muli', sans-serif;


/*-- Mixins ----------------------------*/

@mixin backgroundImage($size, $position, $attachment) {
  background-size: $size;
  background-position: $position;
  background-attachment: $attachment;
  background-repeat: no-repeat;
  background-origin: border-box;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin overlay($position, $z-index, $alpha) {
  position: $position;
  background-color: rgba(0, 0, 0, $alpha);
  z-index: $z-index;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/*-- Global ----------------------------*/

ul {
  list-style: none;
  margin: 0;
}

.main-header,
.footer {
  li {
    font-family: $paragraph;
    font-size: 13px;
    line-height: 16px;
  }
}


/*-- Global Font Styles -----------------*/

h1,
h2,
h3 {
  margin: 0;
  font-family: $headline;
  font-weight: 800;
  font-style: italic;
}

h1 {
  font-size: 1.25em;
  line-height: 1.297em;
  text-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  @media screen and (min-width: 40em) {
    font-size: 1.75em;
  }
  @media screen and (min-width: 64em) {
    font-size: 2.313em;
  }
}

h2 {
  font-size: 1.15em;
  line-height: 34px;
  @media screen and (min-width: 40em) {
    font-size: 1.35em;
  }
  @media screen and (min-width: 64em) {
    font-size: 1.563em;
  }
}

h3 {
  font-size: 1.063em;
  line-height: 22px;
  @media screen and (min-width: 40em) {
    font-size: 1.063em;
  }
  @media screen and (min-width: 64em) {
    font-size: 1.063em;
  }
}

p {
  font-family: $paragraph;
  font-size: 16px;
  line-height: 20px;
  color: $almostBlack;
}

.main-header,
.footer {
  h3 {
    color: $blue;
  }
}







/*-- end of file ----------------------------*/
